# Default ignored files
# Ignore .idea folder
.idea/

# Ignore .git folder
.git/
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
